<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/javascripts/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/javascripts/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/stylesheets/user/signup.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registration Form</h2>
                    <div class="duplicate__status">
                            <p style="color: red;">{{message}}</p>
                        </div>
                    <form action="/signup" method="POST">
                        <div class="row row-space">
                            <div class="col">
                                <div class="input-group">
                                    <label class="label">Username</label>
                                    <input class="input--style-4" type="text" name="username" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="birthday" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label" >Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="" name="gender" required>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email <span>(optional..)</span></label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" name="phone" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" name="password" id="password" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Confirm</label>
                                    <input class="input--style-4" type="password" name="" id="confirm_password">
                                    <span id='message'></span>
                                </div>
                            </div>
                                   <div class="col-2">
                                <div class="input-group">
                                    
                            <label class="label">Country</label>
                            <div class="col-2 rs-select2 js-select-simple select--no-search" style="width: 100%;">
                                <select name="country" class="countries order-alpha presel-byip" id="countryId" required>
                                    <option value="">Select Country</option>                               
                                     </select>

                                <div class="select-dropdown"></div>
                                </div>
                            </div>
                            </div>

                            <div class="col-2" >
                                <div class="input-group">
                                    <label class="label">State</label>
                            <div class="col-2 rs-select2 js-select-simple select--no-search" style="width: 100%;">
                                     <select name="state" class="states order-alpha" id="stateId" required>
                                    <option value="">Select State</option>
                                    </select>

                                <div class="select-dropdown"></div>
                                </div>
                            </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">District</label>
                                    <input class="input--style-4" type="district" name="distric" required>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Nearest Town</label>
                                    <input class="input--style-4" type="nearest-town" name="town" required>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Blood Group</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="blood">
                                    <option disabled="disabled" selected="selected" required>Select your blood group</option>
                                    <option>A+ve</option>
                                    <option>A-ve</option>
                                    <option>B+ve</option>
                                    <option>B-ve</option>
                                    <option>O+ve</option>
                                    <option>O-ve</option>
                                    <option>AB+ve</option>
                                    <option>AB-ve</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>

                            


                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" id="submit-button" type="submit" href='/signup/verify'>Submit</button>
                        </div>
                        <a href="/login"><p class="signup" style="text-align: right; color:rgb(8, 8, 8);font-weight: 500;">Login</p></a>
                    </form>
                </div>
            </div>
        </div>
    </div>

       <!-- Ajax-->
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
       <script src="//geodata.solutions/includes/countrystate.js"></script>
 <!-- Jquery JS-->
    <script src="/javascripts/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="javascripts/select2/select2.min.js"></script>
    <script src="javascripts/datepicker/moment.min.js"></script>
    <script src="javascripts/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/javascripts/signup.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->